# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# IDE / Editor specific files
.vscode/

models/
stock_data/
requirements.txt
backtest_summary.csv
latest_predictions.csv
# readme.md
# main.py
# dashboard.py
# 1_data_collector.py
# 2_model_trainer.py
# 3_automated_backtest.py
# 4_generate_predictions.py
# 5_export_for_web.py